/.env
/latest.dump

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/spec/failures

# webpacker
/public/assets
/public/packs
/public/packs-test
/node_modules

# Ignore Byebug command history file.
.byebug_history

.vscode
