/.env
/latest.dump

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# webpacker
/public/packs
/public/packs-test
/node_modules

# Ignore Byebug command history file.
.byebug_history

.DS_Store
