<head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name='description' content='Your seat in state government' />
  <meta property='og:url' content='https://legislated.org/' />
  <meta property='og:type' content='website' />
  <meta property='og:site_name' content='Legislated' />
  <meta property='og:title' content='Legislated' />
  <meta property='og:image' content="<%= image_path('logotitle.png') %>"/>
  <meta property='og:description' content='Your seat in state government' />
  <meta name='twitter:card' content='summary' />
  <meta name='twitter:site' content='@WitnessSlipsIL' />
  <meta name='twitter:title' content='Legislated' />
  <meta name='twitter:description' content='Your seat in state government' />
  <meta name='twitter:image' content="<%= image_path('logotitle.png') %>" />
  <link rel="dns-prefetch" href="//fonts.googleapis.com/">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400|Roboto:300,400,700" rel="stylesheet">
</head>
<body>
  <div id='root'></div>
  <%= javascript_pack_tag 'client' %>
</body>
