<head>
  <%= favicon_link_tag %>
</head>
<body>
  <%= render_react_component('client', location: request.fullpath) %>
  <footer id='footer-root'></footer>
  <%= javascript_pack_tag('client') %>
</body>
