---
http_interactions:
- request:
    method: post
    uri: http://my.ilga.gov/Hearing/_GetPostedHearingsByDateRange?begindate=03/03/18%2000:00:00&chamber=H&committeeid=0&enddate=04/02/18%2000:00:00
    body:
      encoding: UTF-8
      string: size=50&page=1
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[{"CommitteeDescription":"Veterans\u0027 Affairs Committee","CommitteeHearing":{"HearingId":15612,"CommitteeId":1913,"HearingLocationId":141,"ScheduledDateTime":"\/Date(1520262000000)\/","PostingDateTime":"\/Date(1519770060000)\/","PrintDateTime":"\/Date(1522185660000)\/","SubjectMatter":"SUBJECT
        MATTER:  Quincy Veterans Home Legionella Outbreak and Response.","TextLine":"","IsBold":0,"IsPublic":-1,"IsPublicToCalendar":-1,"IsCancelled":0,"IsChanged":false,"vchrLastUpdtBy":null,"AllowSlips":false,"LongDescription":"Veterans\u0027
        Affairs Committee","Address":"","City":"Chicago, IL","Building":"Michael A.
        Bilandic Building","Room":"C-600, 6th Floor"},"CommitteeId":1913,"CommitteeHearingId":15612,"HearingTime":"3/05/2018
        - 9:00 AM","Location":"Michael A. Bilandic Building - C-600, 6th Floor - Chicago,
        IL","IsInCurrentWeek":false},{"CommitteeDescription":"Mental Health Committee","CommitteeHearing":{"HearingId":15585,"CommitteeId":2170,"HearingLocationId":6,"ScheduledDateTime":"\/Date(1520355600000)\/","PostingDateTime":"\/Date(1519844460000)\/","PrintDateTime":"\/Date(1519845348000)\/","SubjectMatter":"SUBJECT
        MATTER:  School based health center.","TextLine":"","IsBold":0,"IsPublic":-1,"IsPublicToCalendar":-1,"IsCancelled":0,"IsChanged":false,"vchrLastUpdtBy":null,"AllowSlips":false,"LongDescription":"Ment[...]
[...]
- request:
    method: post
    uri: http://my.ilga.gov/Hearing/_GetPostedHearingsByDateRange?begindate=03/03/18%2000:00:00&chamber=H&committeeid=0&enddate=04/02/18%2000:00:00
    body:
      encoding: UTF-8
      string: size=50&page=3
    headers:
      X-Requested-With:
      - XMLHttpRequest
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":[],"total":54}'
  recorded_at: Sat, 03 Mar 2018 06:00:00 GMT
recorded_with: VCR 4.0.0
