---
http_interactions:
- request:
    method: get
    uri: https://openstates.org/api/v1/bills?fields=id,bill_id,session,title,chamber,actions,versions,sources,sponsors,type&page=1&per_page=50&search_window=session&state=il&updated_since=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/v1/bills/?state=il&search_window=session&page=1&per_page=50&fields=id%2Cbill_id%2Csession%2Ctitle%2Cchamber%2Cactions%2Cversions%2Csources%2Csponsors%2Ctype&updated_since="
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 21 Oct 2017 03:39:19 GMT
- request:
    method: get
    uri: https://openstates.org/api/v1/bills/?fields=id,bill_id,session,title,chamber,actions,versions,sources,sponsors,type&page=1&per_page=50&search_window=session&state=il&updated_since=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"versions": [{"mimetype": "text/html", "url": "http://ilga.gov/legislation/fulltext.asp?DocName=10001SR0003&GA=100&SessionId=92&DocTypeId=SR&LegID=107262&DocNum=3&GAID=14&Session=1&print=true",
        "+date": null, "doc_id": "ILD00176508", "name": "Introduced"}], "title": "SENATE-COMM
        JOURNALS", "sponsors": [{"leg_id": "ILL000005", "type": "primary", "name":
        "James F. Clayborne, Jr."}], "actions": [{"date": "2017-06-21 00:00:00", "action":
        "Filed with Secretary", "type": ["bill:filed"], "related_entities": [], "actor":
        "upper"}, {"date": "2017-06-21 00:00:00", "action": "Moved to Suspend Rule
        Sen. James F. Clayborne, Jr.; 3-6(a)", "type": ["other"], "related_entities":
        [], "actor": "upper"}, {"date": "2017-06-21 00:00:00", "action": "Prevailed
        to Suspend Rule 3-6(a)", "type": ["other"], "related_entities": [], "actor":
        "upper"}, {"date": "2017-06-21 00:00:00", "action": "Resolution Adopted",
        "type": ["bill:passed"], "related_entities": [], "actor": "upper"}], "sources":
        [{"url": "http://ilga.gov/legislation/BillStatus.asp?DocNum=3&GAID=14&DocTypeID=SR&LegId=107262&SessionID=92&SpecSess=1&GA=100"}],
        "session": "100th-special", "chamber": "upper", "type": ["resolution"], "id":
        "ILB00100918", "bill_id": "SR 3"}, {"versions": [{"mimetype": "text/html",
        "url": "http://ilga.gov/legislation/fulltext.asp?DocName=10001SR0002&GA=100&SessionId=92&DocTypeId=SR&LegID=107261&DocNum=2&GAID=14&Session=1&print=true",
        "+date": null, "doc_id": "ILD00176509", "name": "Introduced"}], "title": "SENATE-GOVERNOR
        ORGANIZED", "sponsors": [{"leg_id": "ILL000005", "type": "primary", "name":
        "James F. Clayborne, Jr."}], "actions": [{"date": "2017-06-21 00:00:00", "action":
        "Filed[...]
[...]
- request:
    method: get
    uri: https://openstates.org/api/v1/bills/?fields=id,bill_id,session,title,chamber,actions,versions,sources,sponsors,type&page=2&per_page=50&search_window=session&state=il&updated_since=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 21 Oct 2017 03:39:20 GMT
recorded_with: VCR 3.0.3
