---
http_interactions:
- request:
    method: get
    uri: https://openstates.org/api/v1/committees?state=il
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/v1/committees/?state=il"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 14 Mar 2018 00:25:37 GMT
- request:
    method: get
    uri: https://openstates.org/api/v1/committees/?state=il
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"country": "us", "created_at": "2011-08-23 15:08:41", "level": "state",
        "all_ids": ["ILC000066"], "updated_at": "2017-12-27 06:10:43", "id": "ILC000066",
        "parent_id": null, "state": "il", "subcommittee": null, "committee": "Rules",
        "chamber": "lower", "+code": "HRUL"}, {"created_at": "2013-01-31 01:37:19",
        "all_ids": ["ILC000121"], "updated_at": "2016-09-24 08:11:04", "id": "ILC000121",
        "parent_id": null, "state": "il", "subcommittee": null, "committee": "Adoption
        Reform", "chamber": "lower", "+code": "ADPT"}, {"created_at": "2013-01-31
        01:37:19", "all_ids": ["ILC000122"], "updated_at": "2017-12-27 06:10:43",
        "id": "ILC000122", "parent_id": null, "state": "il", "subcommittee": null,
        "c[...]
