---
http_interactions:
- request:
    method: get
    uri: https://openstates.org/api/v1/committees?fields=id,parent_id,committee,subcommittee,chamber,sources&state=il
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/v1/committees/?state=il&fields=id%2Cparent_id%2Ccommittee%2Csubcommittee%2Cchamber%2Csources"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 18 Apr 2018 01:41:23 GMT
- request:
    method: get
    uri: https://openstates.org/api/v1/committees/?fields=id,parent_id,committee,subcommittee,chamber,sources&state=il
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"parent_id": null, "chamber": "lower", "sources": [{"url": "http://ilga.gov/house/committees/members.asp?CommitteeID=1910&GA=100"}],
        "subcommittee": null, "committee": "Rules", "id": "ILC000066"}, {"parent_id":
        null, "chamber": "lower", "sources": [{"url": "http://ilga.gov/house/committees/members.asp?CommitteeID=1590&GA=99"}],
        "subcommittee": null, "committee": "Adoption Reform", "id": "ILC000121"},
        {"parent_id": null, "chamber": "lower", "sources": [{"url": "http://ilga.gov/house/committees/members.asp?CommitteeID=1929&GA=100"}],
        "subcommittee": null, "committee": "Agriculture & Conservation", "id": "ILC000122"},
        {"parent_id": null,[...]
