---
http_interactions:
- request:
    method: get
    uri: https://openstates.org/api/v1/bills?fields=id,bill_id,session,title,chamber,actions,versions,sources,sponsors,type&page=1&per_page=50&q=pe&search_window=session&state=il&updated_since=2018-03-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/v1/bills/?state=il&search_window=session&per_page=50&fields=id%2Cbill_id%2Csession%2Ctitle%2Cchamber%2Cactions%2Cversions%2Csources%2Csponsors%2Ctype&q=pe&updated_since=2018-03-10&page=1"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 11 Mar 2018 02:12:30 GMT
- request:
    method: get
    uri: https://openstates.org/api/v1/bills/?fields=id,bill_id,session,title,chamber,actions,versions,sources,sponsors,type&page=1&per_page=50&q=pe&search_window=session&state=il&updated_since=2018-03-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"versions": [{"mimetype": "text/html", "url": "http://ilga.gov/legislation/fulltext.asp?DocName=10000HB3080&GA=100&SessionId=91&DocTypeId=HB&LegID=104663&DocNum=3080&GAID=14&Session=&print=true",
        "+date": null, "doc_id": "ILD00170922", "name": "Introduced"}, {"mimetype":
        "text/html", "url": "http://ilga.gov/legislation/fulltext.asp?DocName=10000HB3080eng&GA=100&SessionId=91&DocTypeId=HB&LegID=104663&DocNum=3080&GAID=14&Session=&print=true",
        "+date": null, "doc_id": "ILD00181991", "name": "Engrossed"}], "title": "PEN
        CD-TRS-RETURN TO SERVICE", "sponsors": [{"leg_id": "ILL000151", "type": "primary",
        "name": "David B. Reis"}, {"leg_id": "ILL000991", "type": "cosponsor", "name":
        "Terri Bryant"}, {"leg_id": "ILL000107", "type": "cosponsor", "name": "Norine
        K. Hammond"}, {"leg_id": "ILL001044", "type": "cosponsor", "name": "Tony McCombie"},
        {"leg_id": "ILL000941", "type": "primary", "name": "Andy Manar"}], "actions":
        [{"date": "2017-02-09 00:00:00", "action": "Filed with the Clerk by Rep. David
        B. Reis", "type": ["bill:filed"], "related_entities": [], "actor": "lower"},
        {"date": "2017-02-09 00:00:00", "action": "First Reading", "type": ["bill:reading:1"],
        "related_entities": [], "actor": "lower"}, {"date": "2017-02-09 00:00:00",
        "action": "Referred to Rules Committee", "type": ["committee:referred"], "related_entities":
        [], "actor": "lower"}, {"date": "2017-02-22 00:00:00", "action": "Assigned
        to Personnel & Pensions Committee", "type": ["committee:referred"], "related_entities":
        [], "actor": "lower"}, [...]
[...]
- request:
    method: get
    uri: https://openstates.org/api/v1/bills/?fields=id,bill_id,session,title,chamber,actions,versions,sources,sponsors,type&page=2&per_page=50&q=pe&search_window=session&state=il&updated_since=2018-03-10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 11 Mar 2018 02:12:31 GMT
recorded_with: VCR 4.0.0
