---
http_interactions:
- request:
    method: get
    uri: https://openstates.org/api/v1/bills?fields=id,bill_id,session,title,chamber,actions,versions,sources,sponsors,type,subjects&page=1&per_page=50&q=pe&search_window=session&state=il&updated_since=2018-03-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - "/api/v1/bills/?state=il&search_window=session&per_page=50&fields=id%2Cbill_id%2Csession%2Ctitle%2Cchamber%2Cactions%2Cversions%2Csources%2Csponsors%2Ctype%2Csubjects&q=pe&updated_since=2018-03-07&page=1"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 08 Mar 2018 05:53:34 GMT
- request:
    method: get
    uri: https://openstates.org/api/v1/bills/?fields=id,bill_id,session,title,chamber,actions,versions,sources,sponsors,type,subjects&page=1&per_page=50&q=pe&search_window=session&state=il&updated_since=2018-03-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"versions": [{"mimetype": "text/html", "url": "http://ilga.gov/legislation/fulltext.asp?DocName=10000SB3255&GA=100&SessionId=91&DocTypeId=SB&LegID=111043&DocNum=3255&GAID=14&Session=&print=true",
        "+date": null, "doc_id": "ILD00181554", "name": "Introduced"}], "title": "EMS
        PERSONNEL-PHYSICIAN ASSIST", "sponsors": [{"leg_id": "ILL000154", "type":
        "primary", "name": "Chapin Rose"}], "actions": [{"date": "2018-02-16 00:00:00",
        "action": "Filed with Secretary by Sen. Chapin Rose", "type": ["bill:filed"],
        "related_entities": [], "actor": "upper"}, {"date": "2018-02-16 00:00:00",
        "action": "First Reading", "type": ["bill:reading:1"], "related_entities":
        [], "actor": "upper"}, {"date": "2018-02-16 00:00:00", "action": "Referred
        to Assignments", "type": ["committee:referred"], "related_entities": [], "actor":
        "upper"}, {"date": "2018-02-27 00:00:00", "action": "Assigned to Licensed
        Activities and Pensions", "type": ["committee:referred"], "related_entities":
        [], "actor": "upper"}, {"date": "2018-03-07 00:00:00", "action": "Senate Committee
        Amendment No. 1 Filed with Secretary by Sen. Chapin Rose", "type": ["amendment:introduced"],
        "related_entities": [], "actor": "upper"}, {"date": "2018-03-07 00:00:00",
        "action": "Senate Committee Amendment No. 1 Referred to Assignments", "type":
        ["committee:referred"], "related_entities": [], "actor": "upper"}], "id":
        "ILB00105038", "sources": [{"url": "http://ilga.gov/legislation/BillStatus.asp?DocNum=3255&GAID=14&DocTypeID=SB&LegId=111043&SessionID=91&GA=100"}],
        "session": "100th", "chamber": "upper", "type": ["bill"], "subjects": [],
        "bill_id": "SB 3255"}, {"versions": [{"mimetype": "text/html", "url": "http://ilga.gov/legislation/fulltext.asp?DocName=10000HR0027&GA=100&SessionId=91&DocTypeId=HR&LegID=99552&DocNum=27&GAID=14&Session=&print=true",
        "+date": null, "doc_id": "ILD00165650", "name": "Introduced"}], "title": "EDUCATION
        PENSION COST SHIFT", "sponsors": [{"leg_id": "ILL000881", "type": "primary",
        "name": "David McSweeney"}, {"leg_id": "ILL000904", "type": "cosponsor", "name":
        "Sam Yingling"}, {"leg_id": null, "type": "cosponsor", "name": "Jerry Costello,
        II", "committee_id": null}, {"leg_id": null, "type": "cosponsor", "name":
        "Jay Hoffman", "committee_id": null}, {"leg_id": "ILL000099", "type": "cosponsor",
        "name": "Mary E. Flowers"}, {"leg_id": "ILL000107", "type": "cosponsor", "name":
        "Norine K. Hammond"}, {"leg_id": "ILL001057", "type": "cosponsor", "name":
        "Allen Skillicorn"}, {"leg_id": "ILL000135", "type": "cosponsor", "name":
        "Bill Mitchell"}, {"leg_id": "ILL000077", "type": "cosponsor", "name": "Linda
        Chapa L[...]
[...]
- request:
    method: get
    uri: https://openstates.org/api/v1/bills/?fields=id,bill_id,session,title,chamber,actions,versions,sources,sponsors,type,subjects&page=2&per_page=50&q=pe&search_window=session&state=il&updated_since=2018-03-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<OPENSTATES_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 08 Mar 2018 05:54:34 GMT
recorded_with: VCR 4.0.0
